.................................
Мини-правила (чтобы не было боли)

❌ нет коммитов в main

❌ нет огромных PR

✅ работаем в своей папке от dev

✅ короткие названия файлов

✅ PR с описанием: что и зачем

............................
Как вы работаете (коротко)

Сделали задачу
Открыли PR в dev
Пишете максимально четкое и краткое пояснение к PR.
Ждете подтверждение.

